.vs/
ProjectToDo/Logs/
ProjectToDo/obj/
ProjectToDo/bin/
ProjectToDo/bin/
ProjectToDo/Serilog/
ProjectToDo/obj/
ProjectToDo/wwwroot/Logs/
NuGet.config
/.vs/ProjectToDo/v17/.suo
/.vs/ProjectToDo/v17/DocumentLayout.json
/ProjectToDo/bin/Debug/net6.0/ProjectToDo.exe
/ProjectToDo/bin/Debug/net6.0/ProjectToDo.dll
/ProjectToDo/bin/Debug/net6.0/ProjectToDo.pdb
/ProjectToDo/obj/Debug/net6.0/ref/ProjectToDo.dll
/ProjectToDo/obj/Debug/net6.0/refint/ProjectToDo.dll
/ProjectToDo/obj/Debug/net6.0/apphost.exe
/ProjectToDo/obj/Debug/net6.0/ProjectToDo.AssemblyInfo.cs
/ProjectToDo/obj/Debug/net6.0/ProjectToDo.AssemblyInfoInputs.cache
/ProjectToDo/obj/Debug/net6.0/ProjectToDo.csproj.FileListAbsolute.txt
/ProjectToDo/obj/Debug/net6.0/ProjectToDo.dll
/ProjectToDo/obj/Debug/net6.0/ProjectToDo.pdb
